.main {
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 90rem;
}

.title {
  margin-bottom: 1rem;
}

.text-placeholder {
  max-height: 8vh;
  overflow:hidden;
  text-overflow: ellipsis;
  content: "";
  background: linear-gradient(#000, #fff);
  background-clip: text;
  color: transparent;
}

.list {
  text-align: center;
}

.button {
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.2rem;
  margin: 4px;
}

.main-canvas {
  width: 100%;
}

.control-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.input-container {
  align-items: center;
  display: flex;
}

.url-input {
  margin-bottom: 0;
}

/* .disabled-link-btn exists to apply .button[disabled] styles to an <a> */

.disabled-link-btn {
  cursor: default;
  opacity: .5;
}

.disabled-link-btn:hover, .disabled-link-btn:focus{
  background-color: #9b4dca;
  border-color: #9b4dca;
}

/*
  FIXME: better :focus styling. milligram re-uses :hover styling, and since
  buttons keep focus after beeing clicked it looks odd.
*/
